<h2>Ajouter un Ingredient</h2>


  <%= simple_form_for @ingredient do |r| %>
  <%= r.input :name, label: 'Ingredient',  placeholder: 'Soft, Alcool, aliment,..' %>
  <%= r.button :submit, class: 'btn-success btn-block' %>
<% end %>
